*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans Condensed', sans-serif;
}

body{
    position: relative;
    background-color: #333333;
}

.container{
    width: 58%;
    display: block;
    margin: 0 auto;
}

.header{
    height: 100vh;
    background: url(../img/fon.png) center center/cover;
    padding-top: 50px;
}

.header_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_block_1{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
}

.nav_menu {
    margin-left: 60px;
}

.nav_block_2{
    margin-left: 160px;
}

.nav_contact{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    text-align: right;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}

.nav_contact_line{
    width: 119px;
    height: 2px;
    background-color: #D1A954;
    margin-top: 2px;
}

.block_info{
    display: flex;
    align-items: center;
    margin-top: 191px;
}

h1{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info_text{
    font-family: Open Sans;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 50px;
}

.button_info{
    width: 160px;
    height: 50px;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #D1A954;
    margin-top: 49px;
    
}

.block_info_book{
    position: relative;
    width: 370px;
    height: 510px;
    margin-left: 125px;
}

.photo_fon_book{
    position: absolute;
    left: 20px;
    top: 20px;
}

.photo_book{
    position: absolute;
    z-index: 1;
}

/* .cont_ava{
    position: absolute;
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
} */

.block_info_ava{
    background: rgba(51, 51, 51, 0.75);
    width: 990px;
    height: 150px;
    display: flex;
    align-items: center;
    padding-top: 62px;
    padding-bottom: 62px;
    padding-left: 86px;
    transform: rotate(-90deg);
    position: absolute;
    right: 1350px;
    top: 260px;
}

.info_block_text{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
}

.block_info_line{
    width: 80px;
    height: 3px;
    background-color: #C4C4C4;
}

.info_ava_avatarka {
    transform: rotate(90deg);
}

.ml30 {
    margin-left: 30px;
}

.ml40{
    margin-left: 40px;
}

.info_main_cont{
    display: flex;
    justify-content: space-between;

}

.info_main_theatre{
    font-family: Open Sans Condensed;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    margin-top: 150px;
}

.color_gold{
    color: #D1A954;
}

.info_main_text{
    width: 445px;
}

.info_main_text1{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info_main_text2{
    font-family: Open Sans;
    font-size: 14px;
    color: #FFFFFF;
    margin-top: 40px;
}

.info_text_png{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.text_info_twice{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 15px;
}

.info_text_twice2{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    margin-top: 15px;
}

.info_main_cont{
    margin-top: 100px;
}

.armchair{
    margin-top: 40px;
}

.info_teater_twice{
    margin-top: 25px;
}

.info_main_twice{
    width: 255px;
}

.not-main_text{
    font-family: Open Sans Condensed;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 150px;
    color: white;
}

.block_img{
    display: flex;
    margin-left: -255px;
    margin-top: 100px;
}

.section_2{
    width: 1110px;
    height: 550px;
    margin: 0 auto;
    background: url(/img/fon_s3.png) center center/cover;
    margin-top: 150px;
}

.s2_year{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 72px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #D1A954;
}

.ml25{
    margin-left: 25px;
}

.text_s2{
    font-family: Open Sans;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 25px;
}

.s2_text_img-star{
    margin-left: 105px;
}

.s2_cont{
    height: 550px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.text_logo_s3{
    font-family: Open Sans Condensed;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 150px;
}

.logo_cont{
    margin-top: 100px;
}

.display_flex{
    display: flex;
    justify-content: space-around;
}

.cont_line_2{
    margin-top: 80px;
}

.text_s4{
    font-family: Open Sans Condensed;
    font-weight: 300;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 120px;
}

.js_style_number{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.js_number{
    display: flex;
    flex-direction: column;
    width: 255px;
}

.text_js_forma_s4{
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.js_public_s4_forma_1_text_input{
    width: 180px;
    height: 35px;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #989898;
    padding-left: 19px;
}

.js_public_s4_forma_1{
    display: flex;
}

.js_public_s4_forma_1_text_input2{
    width: 310px;
    height: 100px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    color: #989898;
    background: #444444;
    border: 1px solid #616161;
    box-sizing: border-box;
    padding-left: 15px;
    padding-bottom: 65px;
}

.js_public_s4_forma_2_btn{
    width: 190px;
    height: 50px;
    background-color: #D1A954;
    font-family: Open Sans Condensed;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.js_public_s4_primary{
    width: 730px;
}

.js_public_s4_forma_2_text{
    width: 390px;
    font-family: Open Sans;
    font-size: 12px;
    color: #989898;
}

.js_public_s4_forma_2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.js_forma_s4{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.block_info_line_s5{
    width: 1110px;
    height: 0px;
    border: 1px solid #565656;
    margin-top: 80px;
}

.block_info_s5_text{
    font-family: Open Sans;
    font-size: 12px;
    color: #989898;
}

.block_info_text_s5_1{
    font-family: Open Sans;
    font-size: 12px;
    color: #989898;
}

.block_info_s5_cont{
    justify-content: space-between;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.mt25{
    margin-top: 20px;
}

.ml30 {
    margin-left: 30px;
}

.mt30{
    margin-top: 30px;
}

.cont_ava{
    display: none;
}

@media screen and (max-width:992px){
    .container{
        width: 80%;
    }

    .header_nav{
        flex-direction: column;
    }

    .nav_block_2{
        margin-left: 0;
        margin-top: 50px;
    }

    .block_info_book{
        display: none;
    }

    .png_block{
        display: none;
    }

    .block_img{
        margin-left: 0;
        overflow: hidden;
    }

    .section_2{
        width: 100%;
    }

    .block_info_line_s5{
        width: 100%;
    }

    .nav_menu{
        margin-left: 0;
    }

    .nav_block_1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .dd{
        display: none;
    }

    .js_forma_s4{
        flex-direction: column-reverse;
    }

    .ml30{
        margin-left: 0;
    }

    .js_public_s4_forma_1{
        justify-content: space-between;
    }

    .jd_public_s4_primary{
        width: 100%;
    }

    .js_number{
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 80px;
    }

    .mt25{
        margin-top: 0;
    }

    .dd_js{
        display: flex;
        flex-direction: column;
    }

    .mt25d{
        margin-top: 25px;
    }

    .tar{
        text-align: right;
    }

    .tal{
        text-align: left;
    }

    .js_public_s4_primary{
        width: 100%;
    }
} 

@media screen and (max-width:768px){
    .header{
        height: auto;
        padding-bottom: 150px;
    }

    .container{
        width: 90%;
    }

    .nav_block_2{
        margin-top: 30px;
    }

    .info_main_twice{
        width: auto;
        justify-content: space-between;
    }

    .js_public_s4_forma_1_text_input{
        width: 170px;
    }

    .js_public_s4_forma_1_text_input2{
        width: 290px;
    }
}


@media screen and (max-width:576px){
    .nav_block_1{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .nav_block_2{
        margin-top: 10px;
    }

    .info_main_cont{
        display: flex;
        flex-direction: column;
    }

    .info_main_text{
        text-align: center;
        margin: 0 auto;
    }

    .info_text_png{
        display: flex;
        justify-content: center;
        margin-top: 27px;
    }

    .twice_main{
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
    }

    .armchair{
        margin-top: 0;
    }

    .info_teater_twice{
        margin-top: 0;
    }

    .section_2  {
        padding-left: 33px;
    }

    .s2_text_img-star{
        margin-left: 24px;
    }

    .ddd{
        display: none;
    }

    .js_public_s4_forma_1{
        flex-wrap: wrap;
    }

    .js_public_s4_forma_1_text_input2{
        width: 100%;
        margin-top: 30px;  
    }

    .js_public_s4_forma_1_text{
        width: 45%;
    }

    .js_public_s4_forma_1_text_input{
        width: 100%;
    }

    .js_public_s4_forma_2{
        flex-direction: column-reverse;
        text-align: center;
    }

    .js_public_s4_forma_2_btn{
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .js_public_s4_forma_2_text{
        margin: 0 auto;
    }

    .js_number{
        margin-top: 50px;
    }
}